body
{
    background-color: black;
    color: pink;
    text-align: center;
    font-family: "Arial";
    font-size: 20px;
    padding: 0;
}

#cabecera
{
    background-color: darkorchid;
    box-shadow: 0px 2px 20px 0px yellow;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    

}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 80%;
    padding: 1em;
    text-align: center;
    border: 1px solid cyan;
    margin: 0 auto;
}

#container h1
{
    font-size: 40px;
}

#post
{
    padding: 1em;
}
